protobuf
starlette
fastapi
uvicorn
pydevd_pycharm
SQLAlchemy
psycopg2-binary
pydantic
alembic

#Google OAuth2.0
itsdangerous
httpx
authlib
python-dotenv
PyJWT
google-auth
protobuf
requests

#2FA with google authenticator
pyotp
qrcode[PIL]
Pillow

#unittest with pytest and testclient
pytest
httpx #(httpx is used under the hood by TestClient)

#Password hash (passlib contains the salt in hash)
passlib[bcrypt]
bcrypt==4.3.0
pyodbc

#Environment Db
pydantic_settings
#pathlib

#redis
redis

#pdf
reportlab
celery[redis]